.container {
    margin: auto;
    position: relative;
    margin-top: 5px;
    width: 25%;
    border: 1px solid black;
    border-radius: 12px;
    height: 680px;
    background-color: rgb(10, 25, 82);
    min-width: 390px;
  }
  
  .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    height: 25px;
    margin-top: 10px;
    /* border: 1px  solid red; */
  }
  
  .time {
    display: flex;
    /* border: 1px solid green; */
  }
  
  .clock {
    /* position: absolute;
      top: 2%; */
    margin-top: 0%;
    color: white;
  }
  .cell {
    color: white;
    margin-left: 10px;
    margin-top: 3px;
  }
  .network {
    color: white;
    margin-right: 10px;
    margin-top: 3px;
  }
  .wifi {
    color: white;
    margin-top: 3px;
  }
  
  .info {
    margin-top: 10px;
    /* border: 1px solid white; */
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 0%;
  }
  
  .bigtext {
    color: white;
  }
  
  .smalltext {
    color: white;
  }
  
  .display {
    margin-top: 0;
    margin: auto;
    /* position: relative; */
    text-align: center;
    /* margin-top: 10px; */
    width: 90%;
    border-radius: 12px;
    background-color: white;
    height: 120px;
    /* border: 1px solid white; */
  }
  
  .typed {
    padding-top: 20px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: green;
    /* background-color: grey; */
    /* bottom: 50%; */
  }
  
  .timer_record {
    margin-top: 20px;
    /* border: 1px solid white; */
  }
  
  .current_timer {
    color: white;
    margin: 0%;
    padding: 0%;
  }
  
  .past_record {
    color: white;
    margin: 0%;
    margin-top: 10px;
    padding: 0;
    font-size: 15px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    margin: auto;
    width: 320px;
    height: 30px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 1.5%;
  }
  
  .buttons {
    color: white;
  }
  
  .input_div {
    width: 380px;
    height: 40px;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 8%;
  }
  
  .inputbar {
    padding: 0%;
    margin: 0%;
    width: 270px;
    height: 38px;
    border: 0px;
    text-align: center;
    color: grey;
    font-weight: bold;
    background-color: rgb(249, 242, 231);
    margin-left: 7px;
  }
  
  .reset {
    width: 95px;
    height: 39px;
    border: 0px;
    color: white;
    /* font-size: 16px; */
    background-color: rgb(240, 65, 107);
    cursor: pointer;
  }
  